* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F2E8DF;
    height: 100%;
    width: 100vw;
    color: #593825;
    font-family: 'Raleway', sans-serif;

}


header {
    margin: 0;
    padding: 0;

    top: 0;
    position: sticky;

    z-index: 9;


}

header nav {
    text-align: center;
    background-color: #593825;
    margin: 0;
    padding: 0;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline;
}

header nav ul li a {
    display: inline-block;
    padding: 1vw 2vw;
    margin: 0 1vw;

    text-decoration: none;

    color: #D9C5B4;

}

header nav ul li a:hover {
    color: rosybrown;
}



section {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#startside {
    position: relative;
    text-align: center;
    font-size: 5vw;
    width: 100vw;
    height: 100%;

}

#startside .start {
    margin: 0;
    padding: 0;

    background-image: url(lala-v-1nrY9CLAGcI-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 50vh;
}

#startside .start h1 {
    margin: 0 auto;
    padding: 40vw 20vw 0;

    font-family: 'Raleway', sans-serif;
}






#om_mig .omimg {
    border-radius: 100%;
    height: 40vw;
    width: 40vw;
    margin: 0 30vw;
}


#om_mig #tekst {
    font-family: 'Raleway', sans-serif;
    color: #593825;
    line-height: 6vw;
    padding: 15vw;
}

#portfolio h1 {
    width: 100vw;
    font-size: 7vw;
    background-color: #593825;
    color: #F2E8DF;

    text-align: center;
    padding: 2vw;
    margin-top: 10vw;
    margin-bottom: 0;

}

#portfolio .portfolio_container {
    margin: 0 5vw 2vw;
    padding: 3vw;
}

#portfolio h2 {
    font-size: 6vw;
}

#portfolio a {
    color: #593825;
}

#portfolio a:hover {
    color: rosybrown;
}

.fade_in {
    animation-name: fade_in_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes fade_in_kf {

    from {
        opacity: 0;
    }

    to {

        opacity: 1;
    }
}


.fade_in_slide {
    animation-name: fade_in_slide_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes fade_in_slide_kf {

    from {
        opacity: 0;
        transform: translateX(-2vw);
    }

    to {

        opacity: 1;
        transform: translateX(0);
    }
}


/*------Media----*/
@media only screen and (min-width: 600px) {
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
    }


    section {
        width: 100vw;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    #startside {
        text-align: center;

        font-size: 3vw;

        font-family: 'Inria Serif', serif;

        width: 100vw;
        height: 100%;
    }

    #startside .start {
        margin: 0;
        padding: 0;

        background-image: url(lala-v-1nrY9CLAGcI-unsplash.jpg);
        background-size: cover;
        width: 100%;
        height: 100vh;
    }

    #startside .start h1 {
        margin: 0 auto;
        padding: 20vw 0 0;

        font-family: 'Raleway', sans-serif;
    }



    #om_mig #tekst {
        font-size: 1.3vw;
        line-height: 2vw;
        margin: 0 20vw;
        padding: 5vw;
    }

    #om_mig {
        height: 100%;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    #om_mig .omimg {
        border-radius: 100%;
        height: 20vw;
        width: 20vw;
        margin: 0 35vw;
        padding: 2vw;



    }

    #portfolio h1 {
        width: 100vw;
        font-size: 4vw;
        background-color: #593825;
        color: #F2E8DF;

        text-align: center;
        padding: 2vw;
        margin-top: 10vw;
        margin-bottom: 0;

    }

    #portfolio .portfolio_container {
        margin: 0 5vw 2vw;
        padding: 3vw;
    }

    #portfolio h2 {
        font-size: 3vw;
    }



}
